body{
    margin-left: 7rem;
    margin-right: 7rem;
    font-family: 'Space Grotesk', sans-serif;
    background-color: #FAFAFA;
  }
  .nav{
    display: flex;
    font-size: larger;
  
  }
  .estate{
    width: 40%;
    margin-top: 1em;
  
  
  }
  .estate a{
    color: black;
    list-style: none;
    text-decoration: none;
    font-family: 'Oleo Script', cursive;
    font-size: 30px;
  }
  .nav-list ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  
  }
  .nav-list{
    width: 40%;
  
  }